# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Api.dll
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Api.exe
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Api.pdb
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Application.dll
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Application.pdb
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Domain.dll
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Domain.pdb
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Infrastructure.dll
/backend/src/ToDoApp.Api/bin/Debug/net8.0/ToDoApp.Infrastructure.pdb
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ref/ToDoApp.Api.dll
/backend/src/ToDoApp.Api/obj/Debug/net8.0/refint/ToDoApp.Api.dll
/backend/src/ToDoApp.Api/obj/Debug/net8.0/apphost.exe
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.AssemblyInfo.cs
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.AssemblyInfoInputs.cache
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.csproj.AssemblyReference.cache
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.csproj.FileListAbsolute.txt
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.dll
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.pdb
/backend/src/ToDoApp.Api/obj/Debug/net8.0/ToDoApp.Api.sourcelink.json
/backend/src/ToDoApp.Infrastructure/bin/Debug/net8.0/ToDoApp.Application.dll
/backend/src/ToDoApp.Infrastructure/bin/Debug/net8.0/ToDoApp.Application.pdb
/backend/src/ToDoApp.Infrastructure/bin/Debug/net8.0/ToDoApp.Domain.dll
/backend/src/ToDoApp.Infrastructure/bin/Debug/net8.0/ToDoApp.Domain.pdb
/backend/src/ToDoApp.Infrastructure/bin/Debug/net8.0/ToDoApp.Infrastructure.dll
/backend/src/ToDoApp.Infrastructure/bin/Debug/net8.0/ToDoApp.Infrastructure.pdb
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/refint/ToDoApp.Domain.dll
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ToDoApp.Domain.AssemblyInfo.cs
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ToDoApp.Domain.AssemblyInfoInputs.cache
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ToDoApp.Domain.csproj.FileListAbsolute.txt
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ToDoApp.Domain.dll
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ToDoApp.Domain.pdb
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ToDoApp.Domain.sourcelink.json
/backend/src/ToDoApp.Domain/obj/Debug/net8.0/ref/ToDoApp.Domain.dll
/backend/src/ToDoApp.Domain/bin/Debug/net8.0/ToDoApp.Domain.dll
/backend/src/ToDoApp.Domain/bin/Debug/net8.0/ToDoApp.Domain.pdb
/backend/src/ToDoApp.Application/bin/Debug/net8.0/ToDoApp.Application.dll
/backend/src/ToDoApp.Application/bin/Debug/net8.0/ToDoApp.Application.pdb
/backend/src/ToDoApp.Application/bin/Debug/net8.0/ToDoApp.Domain.dll
/backend/src/ToDoApp.Application/bin/Debug/net8.0/ToDoApp.Domain.pdb
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ref/ToDoApp.Application.dll
/backend/src/ToDoApp.Application/obj/Debug/net8.0/refint/ToDoApp.Application.dll
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.AssemblyInfo.cs
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.AssemblyInfoInputs.cache
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.csproj.AssemblyReference.cache
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.csproj.FileListAbsolute.txt
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.dll
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.pdb
/backend/src/ToDoApp.Application/obj/Debug/net8.0/ToDoApp.Application.sourcelink.json
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/refint/ToDoApp.Infrastructure.dll
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.AssemblyInfo.cs
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.AssemblyInfoInputs.cache
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.csproj.AssemblyReference.cache
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.csproj.FileListAbsolute.txt
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.dll
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.pdb
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ToDoApp.Infrastructure.sourcelink.json
/backend/src/ToDoApp.Infrastructure/obj/Debug/net8.0/ref/ToDoApp.Infrastructure.dll
/backend/.vs/ToDoApp/FileContentIndex/120b8743-88f4-4162-9870-0a9449d512ce.vsidx
/backend/.vs/ToDoApp/FileContentIndex/14eeb843-95b2-4ec5-b451-8a598a37a289.vsidx
/backend/.vs/ToDoApp/FileContentIndex/2a4a1a6f-32f2-4989-a9f4-d23630aa3d8c.vsidx
/backend/.vs/ToDoApp/FileContentIndex/3561a731-a050-4fe9-8c9c-97afac7934a0.vsidx
/backend/.vs/ToDoApp/FileContentIndex/8f48cada-0b87-4f79-b4a4-510f956af0b7.vsidx
/backend/.vs/ToDoApp/FileContentIndex/a14e0b33-bfa4-4bcf-87eb-06e38135e8aa.vsidx
